<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.1.dtd">
<suite name="OrangeHRM Test Suite">
    <test name="OrangeHRM Test">
        <classes>
            <class name="com.orangehrm.test.DummyClass"/>
            <class name="com.orangehrm.test.DummyClass2"/>
        </classes>
    </test>
</suite>